body {
    background-color:white;

}
.container {
    background-color: 	#E6E6E6;
    
}

h1 {
    font-family: 'PT Serif', 'serif';
    
}
h3 {
    font-family: 'PT Sans', 'sans-serif';
}
form {
    font-family: 'Droid Serif', 'serif'; 
}

button {
  border: solid 1px;
  color: #eee;
  border-radius:5px;
 -moz-border-radius:5px;
  background: -moz-linear-gradient(top, #5E5E5E 0%, #474747 51%, #0a0e0a 51%, #0a0809 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5E5E5E), color-stop(51%,#474747), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809));
}
button:hover {
  color: white;
}

td.space {
    width:100px;
    height:90px;
    border-style:solid;
    border-width:5px;

}
td.one {
    width:110px;
    height:100px;
    border-style:solid;
    border-width:5px;
    background: #CCCCCC;
}

td.two {
    width:110px;
    height:100px;
    border-style:solid;
    border-width:5px;
    background: #CCCCCC;
}

td.three {
    width:110px;
    height:100px;
    border-style:solid;
    border-width:5px;
    background-color: white;
}

td.four {
    width:110px;
    height:100px;
    border-style:solid;
    border-width:5px;
    background-color: white;
}

td.five {
    width:110px;
    height:100px;
    border-style:solid;
    border-width:5px;
    background-color: #CCCCCC;
}

td.six {
    width:110px;
    height:100px;
    border-style:solid;
    border-width:5px;
    background-color: #CCCCCC;
}

td.seven {
    width:110px;
    height:100px;
    border-style:solid;
    border-width:5px;
    background-color: white;
}

td.eight {
    width:110px;
    height:100px;
    border-style:solid;
    border-width:5px;
    background-color: white;
}
div.side {
    text-align: center;
}